
html, body {
  margin: 0;
  padding: 0;
}


ul {
  list-style-type: none;
}

.main-nav li,
li {
  font-family: 'arial';
  font-weight: bold;
}

.portfolio-header {
  font-weight: bold;
  font-size: 20px;
  font-family: 'arial';
}

.wrapper,
h2 {
  font-family: 'helvetica';
  font-size: 12px;
}


p {
  color: #808080;
  font-family: 'arial';
}

.contact {
  font-family: 'arial';
}

.address {
  font-style: normal;
  margin-bottom: 2px;
}

a {
  color: grey;
}

a:hover {
  color: orange;
}

a:link {
  text-decoration: none;
}

  /* BASE STYLES */

  @media (min-width: 320px) {

    .container {
      text-align: center;
      margin: 50px;
    }

    .main-nav {
      text-align: center;
    }

    .main-nav li {
      margin-top: 40px;
      background-color: whitesmoke;
      padding: 10px;
      border: 1px solid black;
      margin: 5px;
    }

    .profile {
      text-align: center;
      width: 70%;
      background-color: whitesmoke;
      padding: 40px;
      margin: 0 auto;
    }

    .img {
      width: 60%;
      padding: 20px;
    }

    .wrapper {
      text-align: center;
      align-items: center;
      margin: 30px;
      padding: 30px;
    }

    .portfolio-header {
      text-align: center;
      margin-top: 50px;
    }

    .contact {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 70%;
      margin: 0 auto;
      background-color: whitesmoke;
      padding: 40px;
  }

  .address {
    padding: 15px;
  }

  .footer-nav {
    display: inline-flex;
    padding: 1em;
  }

  .footer-nav li {
    display: inline-block;
    padding-top: 5px;
    margin: 2px;
    position: relative;
    left: 100px;

  }
}


  @media (min-width: 768px) {

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-top: 50px;
      margin: 0 auto;
    }

    .main-nav li {
      display: inline-flex;
      position: relative;
      right: 20px;
      align-items: center;
      margin-top: 20px;
      margin: 20px;
      background: none;
      border: none;
    }

    .profile {
      display: flex;
      flex-direction: row;
      width: 50%;
      margin: 10px;
      margin-top: 20px;
      padding: 50px;
      padding-right: 175px;
      background-color: whitesmoke;
    }

    .profile,
    p {
      width: 70%
    }

    .profile-img {
      position: relative;
      left: 150px;
    }

    .img {
      width: 75%;
      margin: 2px;
    }

    .portfolio-header {
      text-align: center;

    }

    .wrapper {
      display: inline-flex;
      align-items: center;
      width: 100%;
      padding-top: 50px;
      text-align: center;
      margin: -3px;
    }

    .wrapper p {
      width: 80%;
      padding-left: 3em;
      padding-top: 15px;
      padding-bottom: 20px;
    }

    .contact {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
      margin-bottom: 20px;
      background-color: whitesmoke;
      padding: 50px;
    }

    .address {
      padding-top: 50px;
    }

    .footer-nav {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      margin: 10px;
    }

    .footer-nav li {
      display: inline-flex;
      flex-direction: row;
      margin: 20px;
      position: relative;
      left: 400px;
      bottom: 10px;
    }

    .footer-nav {
      display: inline-flex;
      flex-direction: row;
    }
  }

@media (min-width: 1024px) {
  .container {
    display: inline-flex;
    flex-direction: row;
    margin-top: 75px;
    padding-left: 1em;
    padding-right: 1em;
  }

  .container li {
    position: relative;
    left: 900px;
    margin-top: 20px;
    margin: 10px;
    display: inline-flex;
  }

  .profile {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 10px;
    margin-top: 20px;
    padding: 50px;
    padding-right: 300px;
    background-color: whitesmoke;
  }

  .profile,
  p {
    width: 75%;
    padding-top: 50px;
  }

  .profile-img {
    position: relative;
    left: 150px;
  }

  .portfolio-header {
    text-align: center;
   }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
    padding: 20px;
  }

  .primary,
  .secondary  {
    display: flex;
    flex-direction: row;
}

  .wrapper
  p {
    width: 70%;
  }

  .img {
   width: 70%;
   height: auto;
 }

  .contact {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 50px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .address {
    margin-top: 50px;
  }

  .footer-nav {
    display: inline-flex;
    width: 50%;
    margin: 1em;
  }

  .footer-nav li {
    position: relative;
    left: 975px;
    margin-top: 20px;
    margin: 10px;
    display: inline-flex;
  }
}
